.card {
    width: 255px;
    height: 299px;
    border-radius: 20px;
    position: relative;
    padding: 1.8rem;
    border: 8px solid #d8d8d8;
    background: #d8d8d8;
    background: linear-gradient(to top, #757575 0%, #cccccc 100%);
    overflow: visible;
    display: flex;
    justify-content: left;
    margin-bottom: 10%;
    transition: all .3s;
   }
   
   .card-details {
    color: #d8d8d8;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: left;
    
   }

   .card-trans {
    width: 190px;
    height: 254px;
    background-color: #d8d8d8;
    border-radius: 50px;
    transition: all .2s;
    margin-bottom: 30%;
   }
   
   .card-trans:hover {
    transform: scale(0.98);
    border-radius: 20px;
    margin-bottom: 30%;
   }

   .card:hover {
    box-shadow: 0px 0px 30px 1px #75757564;
   }
   
   .text-body {
    position: absolute;
    bottom: 1%;
   font-family: cursive;
    color: #d8d8d8;
    
    display: flex;
    align-items: center;
    justify-content: left;
   }

   .image-body {
    position: absolute;
    bottom: 28%;
    left: 13%;
    border-radius: .5rem;
    max-width: 250px;
    max-height: 250px;

   }
   
   .text-title {
    position: absolute;
    font-family: cursive;
    font-size: 1.5em;
    font-weight: bold;
    bottom: 5%; 
    text-align: center;
    display: flex;
    align-items: left;
    justify-content: left;
   }
   
   